body {
    background-color: rgb(28, 28, 28);
    overflow: hidden;
    color: white;
    font-family: monospace;
}

button {
  background: #1a3a45;
  border-radius: 999px;
  box-shadow: #1a3a45 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

p {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border: 0.1em solid white;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blockly-container {
    display: inline-block;
    margin: 2em;
}

.game {
    display: inline-block;
}

.icon {
    font-size: 3em;
}